<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="signUpForm" (ngSubmit)="handleSubmit()">
        <div class="bg-primary p-4 text-center">
          <h1 appCustomDirective>   <!-- Custom Directive is used -->
            Reactive Forms
          </h1>
        </div>
        <div class="form-group">
          <label for="">Enter Name: </label>
          <input type="text" name="'name" [class.is-invalid]="f['name'].invalid && f['name'].touched"
            class="form-control" formControlName="name">
        </div>
        <div class="alert alert-danger" *ngIf="f['name'].invalid && f['name'].touched">
          <div *ngIf="f['name'].errors && f['name'].errors['required']">
            Name is required
          </div>
          <div *ngIf="f['name'].errors && f['name'].errors['minlength']">
            3 is required min length
          </div>
          <div *ngIf="f['name'].errors && f['name'].errors['maxlength']">
            20 is required max length
          </div>
        </div>
        <div class="form-group">
          <label for="">Enter Age: </label>
          <input type="text" name="age" [class.is-invalid]="f['age'].invalid && f['age'].touched" class="form-control"
            formControlName="age">
        </div>
        <div class="alert alert-danger" *ngIf="f['age'].invalid && f['age'].touched">
          <div *ngIf="f['age'].errors && f['age'].errors['required']">
            Age is required
          </div>
          <div *ngIf="f['age'].errors && f['age'].errors['min']">
            Minimum age is  10 required
          </div>
          <div *ngIf="f['age'].errors && f['age'].errors['max']">
            Maximum age is  40 required
          </div>
        </div>
        <div class="form-group">
          <label for="">Enter Email: </label>
          <input type="text" name="'email" [class.is-invalid]="f['email'].invalid && f['email'].touched"
            class="form-control" formControlName="email">
        </div>
        <div class="alert alert-danger" *ngIf="f['email'].invalid && f['email'].touched">
          <div *ngIf="f['email'].errors && f['email'].errors['required']">
            Email is required
          </div>
          <div *ngIf="f['email'].errors && f['email'].errors['pattern']">
            Invalid Email
          </div>
        </div>
        <div class="form-group">
          <label for="">Enter Password: </label>
          <input type="text" name="'pass" [class.is-invalid]="f['pass'].invalid && f['pass'].touched"
            class="form-control" formControlName="pass">
        </div>
        <div class="alert alert-danger" *ngIf="f['pass'].invalid && f['pass'].touched">
          <div *ngIf="f['pass'].errors && f['pass'].errors['required']">
            Password is required
          </div>
          <div *ngIf="f['pass'].errors && f['pass'].errors['pattern']">
            Enter Strong Password with Number, character and Symbol
          </div>
        </div>
        <label>Gender:</label>
        <div class="form-check">
          <input type="radio" class="form-check-input" formControlName="gender" name="gender" value="Male">
          <label for="">Male</label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" formControlName="gender" name="gender" value="Female">
          <label for="">Female</label>
        </div>
        <div class="form-group">
          <label for="">Country:</label>
          <select name="country" [class.is-invalid]="f['country'].invalid && f['country'].touched"  formControlName="country" class="form-control">
            <option value="">Select</option>
            <option value="UK">UK</option>
            <option value="INDIA">INDIA</option>
          </select>
        </div>
        <div class="alert alert-danger" *ngIf="f['country'].invalid && f['country'].touched">
          <div *ngIf="f['country'].errors && f['country'].errors['required']">
            Country is required
          </div>
        </div>
        <label for="">Hobbies:</label>
        <div *ngFor="let hobby of hobbiesArray; let i = index;">
           <label for="">
                <input type="checkbox"  (change)="onchange($event)" class="form-check-input" [value]='hobby' name="" id="index">
                {{hobby}}
           </label>
        </div>
        <br>
        <div class="form-check">
            <input type="checkbox" formControlName="accept" class="form-check-input" name="accept" id="">
            <label for="">I accept the terms and conditions</label>
        </div>
        <br>
        <div class="d-grid">
          <input type="submit" [class.disabled]="signUpForm.invalid" value="Submit" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>